a:link {
    @apply text-[#e76e66] no-underline transition-all duration-[0.25s] hover:text-[#666] hover:no-underline;
    outline: none;
  }
  a:visited {
    @apply text-[#666] no-underline;
  }
  a:visited:hover {
    @apply text-[#e76e66] no-underline;
  }

